@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section">
    <div class="row">

        <div class="pagetitle">
            <h1 style="font-weight:700; font-family:izmir; font-size:24px">Live Medy Test Case</h1>
        </div>

        <div class="col-md-12">
            <p> Uygulama iki ana böülmden oluşmaktadır. Önyüz tarafı ve yönetim paneli tarafı. Önyüz tarafı yani bu bölüm yalnızca açıklama yazmak için kullanılmıştır. Uygulama, birden fazla kullanıcı hesabını desteklemesi gerektiği için tüm işlemler rol bazlı yetkilendirme dahilinde yönetim paneli üzerinden gerçekleştirilmektedir.</p>
            <p> İstenen tüm test case senaryoları ve teknolojiler projede kullanılmıştır.</p>
            <p>
                Asp.Net Core ile Mvc Design Pattern yapısı kullanılarak geliştirilmiştir.
                <br />IDE: Visual Studio 2022
                <br />Programlama Dili: C#
                <br />Target Fremework: .NET 5.0
                <br />Database: MSSQL Server (Database, ilişkisel veri tabanı standartları dahilinde canlı bir sunucu üzerinde yaratılmıştır. Localhost yapılandırması gerekmeksizin doğrudan projeyi çalıştırabilrisiniz. Database bilgileri Models klasörü altındaki Context dosyasında mevcuttur. )
                <br />ORM Tool: EntitiyFramework
                <br />Diğer Teknolojiler: Bootstrap, Html5, Css3, PureJs, Linq, Ajax, Json ve proje içinde farklı birçok teknik,yapı,yöntem mevcuttur.
            </p>
            <p>
                Sisteme giriş bilgileri: 
                <br /> User: admin
                <br /> Password: trm123*
                <br /> Link: https://localhost:44363/YeniCore_Ynt1mPnl/Login/Giris
            </p>
          
            <p style="text-align:center; font-size:20px; font-weight:bold"> <a href="/YeniCore_Ynt1mPnl/Login/Giris">PROJEYE GİT</a></p>
        </div>

    </div>
</section>
