@model LiveMedy.Areas.YeniCore_Ynt1mPnl.Models.DTO.TarihBilgileri
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <label class = "control-label">Ekleme Tarihi</label>
        </div>
        <div class="col-lg-6">
            @Html.HiddenFor(t => t.EklemeTarihi)
            @Html.DisplayFor(t => t.EklemeTarihi, "ShortDateTime")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">Güncelleme Tarihi</label>
        </div>
        <div class="col-lg-6">
            @Html.DisplayFor(t => t.GuncellemeTarihi)
        </div>
    </div>
</div>